
.navbar  {
    border: none;
    border-radius: 0px;
    background: cornflowerblue;
}

 .nav-text,
 .navbar-default .navbar-brand,
 .navbar-default .navbar-nav>li>a{
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

.user{
    color: #1e1e1e;
}